@media (max-width: 768px) {

    .carousel-item > img {
        max-height: 200px;
        min-height: 200px;
    }
}

@media (min-width: 768px) {

    .carousel-item > img {
        max-height: 400px;
        min-height: 400px;
    }
}
